<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
	<link rel="stylesheet" type="text/css" href="/css/chatApp.css" />
    </head>
    <body>
        
        <div id="nav">
            <a href="/">
              <span>Home</span>
            </a>
            <a href="#">
              <span>Login</span>
            </a>
            <a href="#">
            <span>Chat</span>
            </a>
            <a href="#">
                <span>Register</span>
              </a>
          </div>         
    </body>
</html>