
        
      <div id="nav">
        <div class="col-sm nav-align">
          <h1 id="title">Chat App</h1>
        </div>
        <div class="col-sm nav-align">
          <a href="/">
            <span class="button">Home</span>
          </a>
          <a href="#">
            <span class="button">Chat</span>
          </a>
          <a href="#">
            <span class="button">Login</span>
          </a>
          <a href="#">
            <span class="button">Register</span>
          </a>
        </div>
      </div>      
