
<h2>ChatArea</h2>

<div class="message-container">

  <form id="chatForm" class="send-container">
    <input id="txt" autocomplete="off" autofocus="on" class="form-control form-control-lg" placeholder="Write something..."><br></br>
    <button class="btn btn-outline-warning btn-lg btn-block" type="submit">Send</button>
 </form>
</div>

