<!--login form for users-->
<form action="/login" method="POST">

    <h2 class="form-heading">Login:</h2>

    <label for="inputEmail"></label>
    <input type="email" name="email" id="inputEmail" placeholder="Email" class="form-control form-control-lg" required>

    <label for="inputPassword"></label>
    <input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control form-control-lg" required>
    <br>
    <button type="submit" class="btn btn-lg btn btn-outline-success btn-block">Login</button>
</form>