
    <form action="/create" method="POST">
    
        <h2 class="form-signin-heading">Create a new user:</h2>
        
        <label for="inputUserName"></label>
        <input type="text" name="userName" id="inputUserName" class="form-control form-control-lg" placeholder="Username" autofocus />

        <label for="inputEmail"></label>
        <input type="text" name="email" id="inputEmail" class="form-control form-control-lg" placeholder="Email" required />

    
        <label for="inputPassword"></label>
        <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" placeholder="Password" required />

       <br /> <button class="btn btn-lg btn btn-outline-danger btn-block" type="submit">Register</button>
    </form>
